.bg-img {
    background-image: url(./assent/profile.jpg);
    height: 100vh;
    width: 100vw;
    top: 20px;
    */
}

.project-img1 {
    background-image: url(./assent/netflix-clone-laravel.png);
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project-img2{
    background-image: url(./assent/amzone.jpg);
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    image-resolution: from-image;
}
